*{
    box-sizing: border-box;
}

*{
    margin: 0;
    font-family: 'Jost', sans-serif;;
}

h3{font-size: 3em;}
h4{font-size: 2em;}
p{font-size: 1.3em;}
ul{list-style: none;}
li{font-size: 1.2em;}

.container{
    max-width: 1024px;
    margin: auto;
}

header{
    background-color: black;
}

header .logo{
    margin: 0;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 40px;
    color: brown;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    text-align: center;
    padding-bottom: 5px;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

header a:hover{
    color: brown;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:white;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/images/keyboard-g44962ec5b_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero p{
    max-width: 1024px;
}

@media (min-width: 720px){
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }
}