@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#main{
    position: relative;
    height: 100vh;
    color: white;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar{
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.2);
}
.navbar h1{
    cursor: pointer;
    font-size: 26px;
    transition: transform 0.5s;
    text-transform: uppercase;
}
.navbar h1:hover{
    color: red;
}
.navbar ul{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    transition: transform 0.5s;
}
.navbar ul li a:hover{
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 5px;
    font-weight: 700;
}

/*---Text Contact---*/

.text-contact{
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}
.text-contact h1{
    font-size: 40px;
    margin-bottom: 25px;
}
.text-contact h1:hover{
    color: red;
}
.text-contact h3{
    font-size: 32px;
    margin-bottom: 25px;
}
.text-contact p{
    font-size: 20px;
    margin-bottom: 20px;
}


/* --- FOOTER --- */

#footer{
    box-sizing:border-box;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    width: 90%;
}
.footer-row{
    display: flex;
    margin: auto;
}
.icon{
    margin-top: 4px;
    display: flex;}
.icon img{
    width: 45px;
    height: 45px;

}
.icon label{
    margin-top: 8px;
    margin-left: 8px;
}
/*--Horario--*/
.footer-izq{
    width: 33%;
}
.footer-izq h1{
    font-size: 25px;
}
.footer-izq p{
    font-size: 16px;
    margin-top: 20px;
}
/*--Social--*/
.footer-center{
    width: 33%;
}
.footer-center h1{
    font-size: 25px;
}
.footer-center p{
    font-size: 16px;
    margin-top: 20px;
}
/*--Contacto--*/
.footer-der{
    width: 33%;
}
.footer-der h1{
    font-size: 25px;    
}
.footer-der p{
    font-size: 16px;
    margin-top: 20px;
}
/*--Copyright--*/
.info{
    text-align: center;
    font-size: 12px;
}
.info span{
    color: gray;
}



@media only screen and (max-width: 620px){
    .navbar{
        flex-direction: column;
        padding: 20px 20px;
    }
    .navbar h1{
        margin-bottom: 15px;
    }
    .navbar ul li a{
        margin-left: 20px;
        font-size: 15px;
    }
    .text-contact{
        margin: auto;
    }
    .text-contact h1{
        font-size: 28px;
    }
    .text-contact h3{
        font-size: 18px;
    }
    .text-contact p{
        font-size: 16px;
    }
    .footer-row{
        display: flex;
        margin: auto;
    }
    .footer-izq{
        font-size: 8px;
    }
    .footer-izq h1{
        font-size: 11px;
    }
    .footer-izq p{
        font-size: 4px;
    }
    .footer-center{
        font-size: 8px;
    }
    .footer-center h1{
        font-size: 11px;
    }
    .footer-center p{
        font-size: 4px;
    }
    .footer-der{
        font-size: 8px;
    }
    .footer-der h1{
        font-size: 11px;
    }
    .footer-der p{
        font-size: 4px;
    }
    .info{
        font-size: 8px;
    }
    .icon label{
        margin-top: 12px;
        margin-left: 8px;
    }
}
 

